#result{
    max-width: 200px;
    max-height: 200px;

}

#rank{
    font-size: 70px;
    font-weight: 600;
}

#contender{
    padding-top: 20px;
    vertical-align: -webkit-baseline-middle
}

#voteCount{
   min-height: 70px!important
    
}