.menu{
    z-index: 100;
}
.polls{
    min-height: 500px
}

.min{
    min-height: 160px;
    max-height:160px
}

.headings > b:hover{
    color: blue
}
.headings:active{
    color: yellowgreen
}
.status{
    font-size: 18px;
}
.text-primary{
    color:#3DA88C!important;
}
.bigCircle-image{
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    max-width:50px;
}
