<div class="container">
  <div class="row" style="margin-top:2px">
    <div class="col-lg-3 col-xs-12" style="border:1px solid black;height:100px">
        <h2>{{groupInfo.title}}</h2>
        <p>"{{groupInfo.description}}"</p>
            <div class="mt-5 my-2 ">
              <button class="btn btn-primary">Create Poll</button>
              <button class="btn btn-danger" (onClick)="logout()">Logout</button>
            </div>
       </div>  
    <div class="col-lg-9" style="border:1px solid black;height:300px">
      <div class="nav-bar">
        <div class=""></div>
      </div>
    </div>
  </div>
</div>
