.menu{
    z-index: 100;
}
.polls{
    min-height: 500px
}

.min{
    min-height: 200px;
    max-height:200px
}

.headings > b:hover{
    color: blue
}
.headings:active{
    color: yellowgreen
}
.active{
    color:red!important;
}
.status{
    font-size: 18px;
    color:#3DA88C!important;
}
.text-primary{
    color:#3DA88C!important;
}
.bigCircle-image{
    min-width: 50px!important;
    min-height: 50px!important;
    max-height: 50px!important;
    max-width:50px!important;
}
.modal-footer{
    min-height: 75px!important;
}
.text-primary{
    color:#3DA88C!important;
}
a:hover{
    text-decoration: none;
}