
<div *ngIf="adminID ; else loading" >


<div class="container pt-2">
  <div class="row mt-1" >
    <div class="col-md-4 col-xs-12">
      <div class="p-2 bg-white border rounded">
        <h3>{{gTitle}}</h3>
        <p>"{{gDescription}}"</p>
        <p>Created On {{gDate}}</p>
        <p>Admin: <b>{{gAdmin}} </b></p>    
      </div>  
      <div class="bg-white rounded mt-1">  
          <div class="mr-1 ">
            <label class="p-2" style="font-size:20px;font-weight:bold"> <h2 class="text-primary">Members</h2></label>
          </div>
          <div class="container-fluid">
           <div class="row mr-1 bg-white">
             <input class="col-md-11 ml-3 justify-content-center rounded " [ngbPopover]="popContent" popoverTitle='List of Users' id="dropdownBasic1" type="text"  [(ngModel)]="searchterm" (keydown)="search($event)" (focus)="hide = false" (blur)="hideResults()" placeholder="Search Members">
             <div class="bg-white pb-2" *ngFor="let member of gMembers">
                <div class="col-12 mt-2 bg-white inline float-left">
                    <span>
                    <div class="col-md-12 text-left">
                        <img class="bigCircle-image" height="50px" width="50px" src="{{member.photoURL ? member.photoURL : default}}">
                      {{member.display_name}}@{{member.username}}
                      </div>
                    </span>
                  </div>
            </div>   
            </div>   
          </div>
              
                    <ng-template class="ml-2 bg-light"  ngbPopover="" #popContent ngdropdownMenu>
                        <div *ngFor="let user of users">
                            <p class="dropdown-item"> <a (click)="addMember(user.uid)">{{user.display_name}}  @{{user.username}}</a></p>
                        </div> 
                    </ng-template>    
        </div>
    </div>  
   

    <div class="col-md-8 p-0 bg-white">
      <div class="bg-light polls">
        <div class="">
        <ngb-tabset justify="fill">
            <ngb-tab class="headings">
                <ng-template ngbTabTitle><b class="text-primary">Opinion Polls</b></ng-template>
              <ng-template ngbTabContent>
              <div class="container p-1 m-1">
                  <div  *ngIf="currentUser == adminID" class="container-fluid"> 
                      <button class="btn btn-primary my-1" (click)="open(content,'opinion')">Opinion Poll</button>   
                    </div>
                <div class="container-fluid">
                    <div class="row">
                        
                          <div class="text-center col-md-6" *ngFor="let poll of opinionPolls">
                            <div class=" min border bg-white p-1 m-1">
                            <h3>
                              {{poll.title}}
                            </h3>
                            <h5>
                              "{{poll.des}}"
                            </h5>
                            <h4>Status</h4>
                              <p class=" status font-weight-bold">"{{poll.status}}"</p>
                            </div>
                          </div>
                        
                      </div>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><b class="text-primary">Election Polls</b></ng-template>
              <ng-template ngbTabContent>
              <div class="container p-1 m-1">
                <div *ngIf="currentUser == adminID" class="container-fluid"> 
                    <button class="btn btn-primary my-1" (click)="open(content,'election')">Election Poll</button>   
                  </div>
                <div class="container-fluid">
                    <div class="row">
                          <div class="text-center col-md-6" *ngFor="let poll of electionPolls">
                            <div class=" min border bg-white p-1 m-1">
                            <h3>
                              {{poll.title}}
                            </h3>
                            <h5>
                              "{{poll.des}}"
                            </h5>
                            <h4>Status</h4>
                              <p class=" status font-weight-bold">"{{poll.status}}"</p>
                            </div>
                          </div>
                        
                      </div>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        </div>   
  </div>  
  </div>
</div>
</div>
<!--Create Modal HTML Template -->

      <!-- Modal -->
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Create Poll</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form [formGroup]="pollForm"> 
            <div *ngIf="pollType == 'election'">
            <label for="pollTitle">Title</label><input type="text" id="pollTitle" formControlName="title">

            <label for="pollDes">Description</label> <textarea  id="pollDes" rows="3" style="resize:none" formControlName="des"></textarea>
             
            
                <label>Pick a Duration</label>
                  <div class="form-inline row mx-1">
                    <div class="col-2">
                      <button class="btn btn-success" (click)="getDuration(1)">1 Hr</button>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-success" (click)="getDuration(2)">2 Hr</button>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-success" (click)="getDuration(3)">6 Hr</button>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-success" (click)="getDuration(4)">1 Day</button>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-success" (click)="getDuration(5)">2 Days</button>
                    </div>
                  </div>
              </div>
            </form>
            <form>
              <div *ngIf="pollType == 'opinion'">
                <label>Question</label>
                <input type="text" [(ngModel)]="question" name="question" placeholder="Type Your Question Here...." minlength="5" maxlength="50">
                <label>Description of Question</label>
                <textarea [(ngModel)]="desciption" name="desciption" placeholder="Describe Your Question....." id="pollDes" rows="3" style="resize:none"></textarea>
              </div>
            </form>
          </div>
            <div class="modal-footer pb-3">
              <button *ngIf="pollType != 'opinion'" class="btn btn-primary" (click)="createPoll(pollType)">Next..</button>
              <button *ngIf="pollType == 'opinion'" class="btn btn-primary" (click)="createPoll(pollType)">Next Step</button>
            </div>
        </ng-template>

        <ng-template #choiceModal let-c="close" let-d="dismiss">
          <div>

          </div>
        </ng-template>
        
  <!--End Modal -->
  <ng-template #loading>
      <div class="container text-white p-5 pt-3 text-center">
       <i class=" fa fa-circle-o-notch fa-spin fa-5x"></i>      
       <h2> Loading...</h2>
      </div>
  </ng-template>