<div *ngIf="status=='ongoing'; then voting else result"></div>

<ng-template #voting>

  <div class="container">



      <div class=" text-justify text-center inline-blocks bg-light container-fluid">
          <div class="" height="200px">
            <h1 class="" style="font-size: 50px">{{title}}</h1>
          </div>
          <div class="">
              <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
          </div>             
      </div>
        <div>
          <h4>Started On:{{startDate}}</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status:{{status}}</h5>
        </div>

        <div class="row">
            <div class="col-md-9">
              <div class="row">
                <h1> The Contenders </h1>
              </div>
              <div class="row col-12 bg-light justify-content-center justify-content-between">
                  <div class="col-md-4 mt-1 justify-content-center justify-content-between" *ngFor="let contender of contenders">
                    <app-contender [contender]="contender"></app-contender>    
                   </div>
              </div>
            </div>

            <div class="col-md-3  bg-light">
              <div class="row">
                <h2 class="mx-1">List Of Voter</h2>
              </div>
              <div class="row">
                  <div class="col-md-12  border-0 rounded mt-3 my-1 "  *ngFor="let voter of gMembers">
                      <img src="{{voter.photoURL}}" height="30px" width="30px" class="rounded-circle"><span class="mx-1" style="font-size: 18px">{{voter.display_name}}</span>
                  </div>
                </div>
            </div>
        </div>


        <div class="row mt-2 bg-light">
          <div class="row mx-1">
            <div class="col-12">
            <h2>Member Who Have Voted.</h2>
          </div>
          </div>
          <div class="row text-center col-12 justify-content-left">
              <div class=" col-md-2 bg-success pt-2 text-center border-0 rounded mx-2 my-1 text-white justify-content-between"  *ngFor="let vote of voters">
                <span *ngIf="vote"> <img  src="{{vote.photoURL}}" class="mt-2 rounded-circle votedImage"><p>{{vote.display_name}}</p></span>
              </div>
            </div>
        </div>

  </div>

</ng-template>

<ng-template #result>
  <div class="container">

      <div class=" text-justify text-center inline-blocks bg-light container-fluid">
              <div class="" height="200px">
                <h1 class="" style="font-size: 50px">{{title}}</h1>
              </div>
              <div class="">
                  <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
              </div>             
      </div>

        <div>
          <h4>Started On: {{startDate}}</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status : {{status}}</h5>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="row">
                  <h1> Result </h1>
                </div>
                <div class="row bg-light justify-content-center justify-content-between">
                    <div class="col-md-12 m-2 justify-content-center justify-content-between" *ngFor="let result of results ; let i = index">
                     <app-contender [results]="result" [rank] = "i" ></app-contender>
                    </div>
                </div>
              </div>

        </div>

        <script>
            <canvas id="myChart" width="400" height="400"></canvas>
        </script>
  </div>
</ng-template>


<ng-template #voted>
    <div class="row">
        <button id="voted" class="col-12 btn btn-success btn-lg content-justify-center text-white" disabled>Already Voted</button>
    </div>
</ng-template>
