<script src="node_modules/chart.js/src/chart.js"></script>
<div *ngIf="gMembers.length > 0 ; else loading">
<div *ngIf="type == 'election'; then election else opinion"></div>
</div>
<ng-template #election>
    <div *ngIf="status=='ongoing'; then evoting else eresult"></div>
</ng-template>


<ng-template #evoting>
  <div class="container">
      <div class=" text-justify text-center inline-blocks bg-light container-fluid">
          <div class="" height="200px">
            <h1 class="" style="font-size: 50px">{{title}}</h1>
          </div>
          <div class="">
              <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
          </div>             
      </div>
        <div>
          <h4>Started On:{{startDate}}</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status:{{status}}</h5>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
              <div class="row">
                <h1> The Contenders </h1>
              </div>
              <div class="row col-12 bg-light justify-content-center justify-content-between">
                  <div class="col-md-4 mt-1 justify-content-center justify-content-between" *ngFor="let contender of contenders">
                    <app-contender [contender]="contender"></app-contender>    
                   </div>
              </div>
            </div>
            <div class="col-md-3  bg-light">
              <div class="row">
                <h2 class="mx-1">List Of Voter</h2>
              </div>
              <div class="row">
                  <div class="col-md-12  border-0 rounded mt-3 my-1 "  *ngFor="let voter of gMembers">
                      <img src="{{voter.photoURL}}" height="30px" width="30px" class="rounded-circle"><span class="mx-1" style="font-size: 18px">{{voter.display_name}}</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mt-2 bg-light">
          <div class="row mx-1">
            <div class="col-12">
            <h2>Member Who Have Voted.</h2>
          </div>
          </div>
          <div class="row text-center col-12 justify-content-left">
              <div class=" col-md-2 bg-success pt-2 text-center border-0 rounded mx-2 my-1 text-white justify-content-between"  *ngFor="let vote of voters">
                <span *ngIf="vote"> <img  src="{{vote.photoURL}}" class="mt-2 rounded-circle votedImage"><p>{{vote.display_name}}</p></span>
              </div>
            </div>
        </div>
      </div>
  </div>
</ng-template>

<ng-template #eresult>
  <div class="container">
      <div class=" text-justify text-center inline-blocks bg-light container-fluid">
              <div class="" height="200px">
                <h1 class="" style="font-size: 50px">{{title}}</h1>
              </div>
              <div class="">
                  <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
              </div>             
      </div>
        <div>
          <h4>Started On: {{startDate}}</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status : {{status}}</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                  <h1> Result </h1>
                </div>
                <div class="row bg-light justify-content-center justify-content-between">
                    <div class="col-md-12 m-2 justify-content-center justify-content-between" *ngFor="let result of results ; let i = index">
                     <app-contender [results]="result" [rank] = "i" ></app-contender>
                    </div>
                </div>
              </div>
        </div>
        <div class="container m-2 p-2">
            <h1>Summary</h1>
              <div style="display: block">
                  <canvas baseChart
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              chartType="doughnut"
                              (chartHover)="chartHovered($event)"
                              >
                  </canvas>
                </div>
          </div>
       
  </div>


</ng-template>

<ng-template #opinion>
  <div  class="container">
    
    <div class="text-justify text-center inline-blocks bg-light containerifluid">
        <div class="" height="200px">
          <h1 class="" style="font-size: 50px">{{title}}</h1>
        </div>
        <div class="">
            <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
        </div>             
    </div>
      <div>
        <h4>Started On:{{startDate}}</h4>
      
        <h5>Status:{{status}}</h5>
      </div>

      <div class="container px-0">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-md-8 bg-light">
            <h2 *ngIf="type == 'ongoing'">Please Vote Here...</h2>
            
              <div class="container-fluid">
              <div  class="row text-center bg-white p-2 m-3" *ngFor="let choice of choiceList; let i = index" >
              
              <div class="col-md-1">
               <h1 style="font-size:60px">#{{i+1}}</h1>
              </div>
              <div class="col-md-8" >
               <h2> {{choice.choice}}</h2>
              </div>
              <div *ngIf="opinionVoter != null; else voteBtn" class="col-md-3 text-center">
                <h2>Total Votes</h2>
                <h1>{{choice.votes}}</h1>
              </div>    
              <ng-template #voteBtn id="choice" class="text-center">
                <button class="btn btn-danger col-md-3 text-center" (click)="registerVote(choice.choiceId)">Vote Me</button>
             </ng-template>         
            </div>
          </div>
          </div>
          <div class="col-md-4  m-0 p-0 ">
            <div class="bg-light px-3 py-2 ml-3">
            <h2>List of Voters </h2>
            <hr>
            <div class=" my-2" *ngFor="let member of gMembers">
              <img class="circle-image" [src]="member.photoURL ? member.photoURL:'../../assets/images/default_profile_pic.jpg'"> <h5 class="inline">{{member.display_name}}</h5>
            </div>
          </div>
          </div>         
        </div>
      </div>

      </div>
      <div *ngIf="!voterStatus" class="container bg-white border mt-3 p-2">
        <h1 class="">Summary</h1>
          <div style="display: block">
              <canvas baseChart
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
              </canvas>
            </div>
      </div>
    </div>
</ng-template>

<ng-template #oresult>
    <div  class="container">
        <div class="text-justify text-center inline-blocks bg-light containerifluid">
            <div class="" height="200px">
              <h1 class="" style="font-size: 50px">{{title}}</h1>
            </div>
            <div class="">
                <h3 class=" " style="font-size:30px">"{{description}}..."</h3>
            </div>             
        </div>
          <div>
            <h4>Started On:{{startDate}}</h4>
            <h5>Status:{{status}}</h5>
          </div>
        </div>
</ng-template>



<ng-template #voted>
    <div class="row">
        <button id="voted" class="col-12 btn btn-success btn-lg content-justify-center text-white" disabled>Already Voted</button>
    </div>
</ng-template>
<ng-template #loading>
  <div class="container p-5 text-center">
   <i class=" text-primary fa fa-spinner fa-spin  fa-3x"></i>
   <h1 >Loading...</h1>
  </div>
</ng-template>




  