#voted:focus{
    background-color: green;
    
}

.votedImage{
    max-width: 30px!important ; 
    max-height: 30px!important; 
     min-width: 30px!important ; 
     min-height: 30px!important; 
}

.circle-image{
    max-width: 50px;
    max-height: 50px;
}

    