<div *ngIf="status=='ongoing'; then voting else result"></div>

<ng-template #voting>

  <div class="container">



      <div class="row bg-light">
          <h1>{{title}} <span style="font-size:18px">({{description}})</span></h1>
      </div>
        <div>
          <h4>Started On: Date & Time</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status:{{status}}</h5>
        </div>

        <div class="row">
            <div class="col-md-9">
              <div class="row">
                <h1> The Contenders </h1>
              </div>
              <div class="row col-12 bg-light justify-content-center justify-content-between">
                  <div class="col-md-4 mt-1 justify-content-center justify-content-between" *ngFor="let contender of displayContenders">
                      <div id="contender" class="card bg-light-grey" style="width: 14rem;">
                          <img class="my-1 card-img-top rounded-circle px-1 py-1" src="{{contender.photoURL}}" alt="Card image cap"><hr>
                          <div class="card-body text-center">
                            <h5 class="card-title">{{contender.display_name}}</h5>
                            <p class="card-text">"@{{contender.username}}"</p>
                            <div *ngIf="voterStatus == null" class="row">
                                <a id="voted" class="col-12 btn btn-primary btn-lg content-justify-center text-white" (click)="vote(contender.uid)">Vote for me</a>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>
            </div>

            <div class="col-md-3  bg-light">
              <div class="row">
                <h2 class="mx-1">List Of Voter</h2>
              </div>
              <div class="row">
                  <div class="col-md-12  border-0 rounded mt-3 my-1 "  *ngFor="let voter of gMembers">
                      <img src="{{voter.photoURL}}" height="30px" width="30px" class="rounded-circle"><span class="mx-1" style="font-size: 18px">{{voter.display_name}}</span>
                  </div>
                </div>
            </div>
        </div>


        <div class="row mt-2 bg-light">
          <div class="row mx-1">
            <div class="col-12">
            <h2>Member Who Have Voted.</h2>
          </div>
          </div>
          <div class="row text-center col-12 justify-content-left">
              <div class=" col-md-2 bg-success pt-2 text-center border-0 rounded mx-2 my-1 text-white justify-content-between"  *ngFor="let vote of voters">
                  <img src="{{vote.photoURL}}" height="30px" width="30px" class="mt-2 rounded-circle"><p>{{vote.display_name}}</p>
              </div>
            </div>
        </div>

  </div>

</ng-template>

<ng-template #result>
  <div class="container">

      <div class="row bg-light">
          <h1>{{title}} <span style="font-size:18px">({{description}})</span></h1>
      </div>
        <div>
          <h4>Started On: Date & Time</h4>
          <h5>Duration of Poll: {{duration}} Minutes</h5>
          <h5>Status : {{status}}</h5>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="row">
                  <h1> The Contenders </h1>
                </div>
                <div class="row col-12 bg-light justify-content-center justify-content-between">
                    <div class="col-md-4 mt-1 justify-content-center justify-content-between" *ngFor="let contender of displayContenders">
                        <div id="contender" class="card bg-light-grey" style="width: 16rem;">
                            <img class="my-1 card-img-top rounded-circle px-1 py-1" src="{{contender.photoURL}}" alt="Card image cap"><hr>
                            <div class="card-body text-center">
                              <h5 class="card-title">{{contender.display_name}}</h5>
                              <p class="card-text">"@{{contender.username}}"</p>
                              <div *ngIf="voterStatus == null" class="row">
                                  <a id="voted" class="col-12 btn btn-primary btn-lg content-justify-center text-white" (click)="vote(contender.uid)">Vote for me</a>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
              </div>

        </div>
  </div>
</ng-template>


<ng-template #voted>
    <div class="row">
        <button id="voted" class="col-12 btn btn-success btn-lg content-justify-center text-white" disabled>Already Voted</button>
    </div>
</ng-template>
