#members:focus{
  
        background-color:green;    
    
}

#startPoll:focus{
        text-transform: none
}
.bg{
        background-color: white!important;
}
.text-primary{
        color:#3DA88C!important;
}