<div *ngIf=""></div>
<div *ngIf="type == 'election'; then election else opinion"></div>


<ng-template #election class="container">
 <div class="container"> 
    <div class="text-capitalize">
      <h1>Title : {{topic}} </h1>
      <h3>Description : {{description}}</h3>
      <h3 >Status : {{status}}</h3>
      
    </div>
    <div class=" bg-light container-fluid my-1" *ngIf="status=='off';">
      <h5 class="bg-danger border border-rounded my-1 px-2 py-1">Poll Status: Poll haven't started yet.... Please do the next procedure. </h5>
      <h4 class=" container-fluid my-1">Select Contenders</h4>
      <div class="row bg-dark mt-1 justify-content-center" >
        <button id="members" *ngFor="let member of gMembers" class="border col-md-4 mx-1 my-1 container my-1 btn btn-md btn-light" (click)="getContender(member.uid)">
          <img class="rounded-circle" height="60px" width="60px" src="{{member.photoURL}}"> <span class="" style="font-size:18px;">{{member.display_name}}@{{member.username}}</span> 
        </button>
      </div>     
    </div>

    <div id="contenders" class="container rounded bg-light" >
       <div class="row"  *ngIf="status=='off' ">
            <button id="startPoll" [style]="statBtn" class="col-md-12 px-3 py-2 bg-success " (click)="startPoll()"> Start Your Poll</button>
        </div>
      <h1> Contenders for Poll are..</h1>
      <hr>
      <div class="row border-top">
        <div class="col-md-3 mt-1 justify-content-center"  *ngFor="let pollContender of displayContenders">
            <app-contender [pollContender]="pollContender"></app-contender>
        </div>
      </div>
      <div class="row" *ngFor="let member of gMembers">
        
      </div>
    </div>
  </div>   
  </ng-template>

  <ng-template #opinion class="container">
    <div class="container">
        <div class="text-capitalize">
          <h1>Question : {{topic}} ? </h1>
          <h3>Description : {{description}}</h3>
          <h3 >Status : {{status}}</h3>         
        </div>
        <div class="row">
          <div class=" bg-light col-8">
            <h1>Add Your Choice Here...</h1>
            <div class="row">
                <form class="bg-light col-8 form-inline" (ngSubmit)="addChoice($event)">
                    <div class="form-group mb-2">
                      <h5>Choices</h5>
                    </div>
                    <div class="form-group mx-sm-3">
                      <label style="font-size: 18px; " for="inputPassword2" class="sr-only"></label>
                      <input type="text" name="choice" [(ngModel)]="choice" placeholder="Type Your Choice.....">
                    </div>
                    <button type="submit" class="btn btn-primary align-top" >Add Choice</button>
                </form>
            </div>
            <div class="row  justify-content-between">
            <div class="col-md-8 justify-content-between border">
              <h2>Your Choices are...</h2>
            
              <div class="row justify-content-between " *ngFor="let choice of choicesList ;let i = index ">
                <div class="col-11 mx-1 justify-content-between">
                  <div class="row p-2 mx-2 bg-white border-rounded  text-capitalize">
                    <div class="col-md-1">{{i+1}}</div> <div class="col-md-8 float-left" style="font-size:20;">{{choice.choice}}</div> <button class=" col-md-2 btn btn-sm btn-danger ml-1" (click)="deleteChoice(choice.cid)">Delete</button>
                 </div>
                 <hr>
                </div>
              </div>
          </div>
        </div>
      </div>
          <div class="border col-md-3 ml-2">
            <div class="row">
                <div class="col-12">
                  <h5>List of Voters.</h5>
                </div>
            </div>
            <div class="row" *ngFor="let member of gMembers">
              <div class="col-12">
                {{member.username}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="col-md-12 btn btn-success"  (click)="startPoll()">Start Your Poll</button>
        </div>
      </div>
  </ng-template>
  <ng-template #content let-c="close" let-d="dismiss">

  </ng-template>

