
.circle-image{
    max-width: 70px;
    max-height: 70px;
}
.polls{
    
    min-height: 500px;
}
.groups:hover
{
    color: red;
    text-decoration-line:none    
}
.bottom{
    border-bottom: 1px solid black;
}
.plus:hover{
    color:#3DA88C!important;
}
.ongoing:hover
{
    background-color: #3DA88C!important;
    color:white!important;

}
.ongoing:hover > a{
    background-color: #3DA88C!important;
    color:white!important;
}
.finished:hover > a{
    background-color: #3DA88C!important;
    color:white!important;
}
.finished:hover
{  
    background-color: #3DA88C!important;
    color:white
}
.red .active a,
.red .active a:hover {
    background-color: red;
}
ol, ul, .nav, .nav-pills, .nav-fill {
    margin-left:0px!important;
}
.text-primary{
    color:#3DA88C!important;
}

.nav-link,.active{
    background-color: #3DA88C!important;
}
.btn-danger{
    width:100%;
}
.myGroups{
    max-height: 409px!important;
    overflow: scroll;
}
.headings{
    font-size: 22px!important;
    font-weight: 450;
}