<div *ngIf="display_name ; else loading">
  <div class="container mt-3  px-0"> 
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-3">
          <div class="p-2 bg-white border rounded border-white">
            <img class="bigCircle-image circle-image" [src]="photoURL" alt=""> <h4>{{display_name}}</h4><h5>@{{username}}</h5>
          <h6>Joined On : {{joinDate}}</h6>
        </div>
        <div class=" border rounded-bottom bg-white mt-2 col-md-12 border-danger">
          <div class="container-fluid">
              <div class="row bottom">
                  <h3 class="">Pending Polls</h3>
              </div>
          </div>
           
            <div *ngIf="pendingPolls.length > 1; else noPolls"> 
              <div class="container-fluid" *ngFor="let poll of pendingPolls">
                <a [routerLink]="['/poll', poll.pid]">  
                 <div class="font-weight-bold row">
                {{poll.title}}
                </div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 bg-light p-0 m-0">
          <div class="container p-2">
                 <ngb-tabset type="pills" justify="fill" class=" m-0 p-0">
                  <ngb-tab  class=" ongoing polls nav-pills" title="Ongoing Polls">
                    <ng-template class="polls container border" ngbTabContent>
                      <div class="polls container-fluid rounded bg-white border border-warning">
                          <div class="row mt-1" *ngFor="let poll of ongoingPolls">
                            <div class="ongoing col-12">
                                <a [routerLink]="['/poll', poll.pid]">   <h3>{{poll.title}}</h3> <h5>{{poll.des}}</h5></a>
                            </div>
                          </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
              
                  <ngb-tab class="polls nav-pills" title="Finished Polls">
                    <ng-template class=" polls container border" ngbTabContent>
                      <div class=" polls container-fluid rounded bg-white border border-success">
                          <div class="row  mt-1" *ngFor="let poll of finishedPolls">
                              <div class="col-12 finished">
                              <a [routerLink]="['/poll', poll.pid]"> <h3>{{poll.title}}</h3> <h5>{{poll.des}}</h5></a> 
                              </div>
                          </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
              </ngb-tabset>
            </div>

        </div>  
        <div class="col-md-3">
         <div class="bg-white container ">    
          <div class="pb-1 bottom container-fluid p-0 ml-1">
            <div class="row">
                <h3 class=" col-9  mt-1 border-bottom">Groups Page</h3> <h2 class=" mt-1 float-right col-1"><i class="fa fa-plus-square-o plus" (click)="open(content)"></i></h2>
            </div>
          </div>
          <div class="container-fluid my-1 p-0 m-0">
              <div class="row my-1 pb-2 groups" *ngFor="let group of adminGroups">
              <a [routerLink]="['/groups', group.gid]"> 
                <div class="col-12">
                <p class="title  m-0"> {{group.title}}</p>
                </div>
                <div class="col-12">
                <p class="des  m-0"> {{group.description}}</p> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class=" mt-2 pb-2  bg-white container">
          <div class="p-1 container-fluid ">
            <div class="row">
              <h4>Member Groups</h4>
            </div>
          </div>         
              <div class="col-12 p-0 m-0"  *ngFor="let group of memberGroups">
                 <h5>{{group.title}}</h5>
                 <p>"{{group.description}}"</p>
             </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>


  <!--Create Modal HTML Template -->

      <!-- Modal -->
  <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Create Group</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form [formGroup]="groupForm"> 
            <label for="gTitle">Title</label><input type="text" id="gTitle" formControlName="title">

            <label for="gTitle">Description</label> <textarea  id="gDescription" rows="3" style="resize:none" formControlName="description"></textarea>
           </form>
          </div>
            <div class="modal-footer">
              <button class="btn btn-primary" (click)="createGroup()">Create Group</button>
            </div>
        </ng-template>
        
  <!--End Modal -->
  <ng-template #loading>
      <div class="container p-5 pt-3 text-center">
       <i class=" text-primary fa fa-circle-o-notch fa-spin  fa-5x"></i>      
       <h2> Loading...</h2>
      </div>
  </ng-template>
  <ng-template #noPolls>
  <div class="container fonr-weight-bolder text-muted text-center"> 
    <i class="fa fa-times fa-3x"></i>
      <h3>Sorry...</h3>
      <h3>No Polls</h3>
  </div>
  </ng-template>