
.circle-image{
    max-width: 70px;
    max-height: 70px;
}
.polls{
    
    min-height: 500px;
}
.groups:hover
{
    color: red;
    text-decoration-line:none    
}
.bottom{
    border-bottom: 1px solid black;
}
.plus:hover{
    color:red
}
.main{
    background-color:#8590AA!important;
    
    min-height:100vh;
}
.ongoing:hover
{
    background-color: orange!important;
    color:white;

}

.finished:hover
{
    background-color: lightgreen!important;
    color:white
}
.red .active a,
.red .active a:hover {
    background-color: red;
}