/* You can add global styles to this file, and also import other style files */

.circle-image{
    border-radius: 100%;
}
.inline{
    display: inline-block;
}
body{
    background-color:#E6ECF0!important;
    font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 22px;
    font-weight: 500;
}
.des{
    font-size:18px;
    font-weight: 400;
}