/* You can add global styles to this file, and also import other style files */

.circle-image{
    border-radius: 100%;
}
.inline{
    display: inline-block;
}
body{
    background-color: #1AC8ED!important;
    font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 22px;
    font-weight: 500;
}
.des{
    font-size:18px;
    font-weight: 400;
}

.bigCircle-image{
    border-radius: 100%!important;
    min-width: 100px!important;
    min-height: 100px!important;
}