<div *ngIf="display_name; else loading">
<div class="container pt-md-3">
  <div class="container account">
      <div id="account-card" class="bg-white rounded p-2 px-4">
      <div id="account-header" class="row ml-2 mt-2 mt-md-3 mr-3">
        <h3 class="float-left">Account</h3>
      </div>
      <hr>
      <div class="form-group mt-4 mb-2">
        <label for="InputDisplayName">Display Name</label>
        <input type="text" class="form-control" id="InputDisplayName" aria-describedby="emailHelp" [(ngModel)]="display_name">
        <small class="form-text text-muted">Your Display Name will show prominently on your profile. (Max 30 characters)</small>
      </div>
      <div class="form-group mb-2">
        <label for="InputUsername">Username</label>
        <input type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" [(ngModel)]="username">
        <small class="form-text text-muted">Your username is your unique signature. (Max 15 characters)</small>
      </div>
      <div class="form-group mb-2">
        <label for="InputStatus">Status</label>
        <input type="text" class="form-control" id="InputStatus" aria-describedby="emailHelp" [(ngModel)]="desc">
        <small class="form-text text-muted">Tell everyone how you feel. (Max 150 characters)</small>
      </div>
      <div class="row mb-3">
        <div class="form-group pt-4 col-12 col-sm-6 mb-1 align-self-center">
          <input type="file" id="InputPhoto" class="inputfile" (change)="processImage($event)" accept="image/*">
          <label for="InputPhoto" class="mx-0 text-center"><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{filename}}</label>
        </div>
        <span class="col-auto p-0 ml-3"><img id="displayPhoto" class="circle align-self-center" *ngIf="photoURL" [src]="photoURL"></span>
      </div>
      <hr>
      <div class="row pb-3 m-0 justify-content-between mt-2 mt-md-3 mr-4">
         <button class="btn ml-5 mt-2 align-self-center btn-primary text-white font-weight-bold " id="btnUpdate" (click)="update()">Update Account</button>
      </div>
    </div>
    </div>
  </div>
</div>
  <ng-template #loading>
      <div class="container p-5 pt-3 text-center">
       <i class=" text-primary fa fa-circle-o-notch fa-spin  fa-5x"></i>      
       <h2> Loading...</h2>
      </div>
  </ng-template>
