.account{  
    max-width: 60%;
}

#displayPhoto{
    max-width: 100px;
    max-height: 100px;
}
input.ng-touched.ng-invalid{
    border-color: red!important;
    border-width:2px;
    background-color: white;
  }
  textarea.ng-touched.ng-invalid{
    border-color: red!important;
    border-width:2px;
    background-color: white;
  } 