
<div class="container pt-md-3">
  <div class="container account">
      <div id="account-card" class="bg-white rounded p-2 px-4">
      <div id="account-header" class="row ml-2 mt-2 mt-md-3 mr-3">
        <h3 class="float-left">Account</h3>
      </div>
      <hr>
      <form [formGroup]="accountForm"> 
        <div class="form-group">
          <label>Display Name</label>
          <input type="text" formControlName="displayName" [(ngModel)]="display_name">
            <small class="customAlert" *ngIf="!accountForm.get('displayName').valid && accountForm.get('displayName').touched">
              <div *ngIf="accountForm.get('displayName').hasError('required')">Display Name is required</div>
            </small>
        </div>
         <div class="form-group">
           <label>Username</label>
            <input type="text" formControlName="userName" (blur)="search($event)" [(ngModel)]="username" >
            <small class="customAlert" *ngIf="!accountForm.get('userName').valid && accountForm.get('userName').touched">
            <div *ngIf="accountForm.get('userName').hasError('required')">Username is required </div>
           </small>
           <small class="text-danger pb-1" *ngIf="accountForm.get('userName').touched && isTaken">
              <div> Username already taken</div>
            </small>
         </div>
      </form>
      <div class="row mb-3">
        <div class="form-group pt-4 col-12 col-sm-6 mb-1 align-self-center">
          <input type="file" id="InputPhoto" class="inputfile" (change)="processImage($event)" accept="image/*">
          <label for="InputPhoto" class="mx-0 text-center"><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{filename}}</label>
        </div>
        <span class="col-auto p-0 ml-3"><img id="displayPhoto" class="circle align-self-center" *ngIf="photoURL" [src]="photoURL"></span>
      </div>
      <hr>
      <div class="row pb-3 m-0 justify-content-between mt-2 mt-md-3 mr-4">
         <button class="btn ml-5 mt-2 align-self-center bg-dark text-white font-weight-bold " id="btnUpdate" [disabled]="!accountForm.valid"  (click)="update(accountForm)">Update Account</button>
      </div>
    </div>
    </div>
  </div>

  <ng-template #loading>
      <div class="container p-5 pt-3 text-center">
       <i class=" text-primary fa fa-circle-o-notch fa-spin  fa-5x"></i>      
       <h2> Loading...</h2>
      </div>
  </ng-template>
