
<div class="container">
  <div class="box col-md-6 mt-3 pb-2 bg-white rounded container">
  <form [formGroup]="rForm" (ngSubmit)="register(rForm)" > 
    <div class="container  main mt-2">
      <h1 class="text-center">Registration</h1>
      <div id="login-form" class=" text-primary py-2 px-3 mt-3">
          <div class="form-group">
            <label for="name">Name</label>
            <input  type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="display_name">
            <small class="customAlert" *ngIf="!rForm.get('display_name').valid && rForm.get('display_name').touched">
              <div *ngIf="rForm.get('display_name').hasError('required')">Name is Required</div>
              <div *ngIf="rForm.get('display_name').hasError('pattern')">Required Only Characters </div>
            </small>
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input  type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
          <small class="customAlert" *ngIf="!rForm.get('email').valid && rForm.get('email').touched">
              <div *ngIf="rForm.get('email').hasError('required')">Email Address is Required</div>
              <div *ngIf="rForm.get('email').hasError('email') &&!rForm.get('email').hasError('required')">Invalid Email</div>
          </small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input  type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <small class="customAlert" *ngIf="!rForm.get('password').valid && rForm.get('password').touched">
              <div *ngIf="rForm.get('password').hasError('required')">Password is Required</div>
              <div *ngIf="rForm.get('password').hasError('minlength')">minimum 8 characters required</div>
          </small>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input  type="password" class="form-control" id="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword">
          <small class="customAlert" *ngIf="!rForm.get('confirmPassword').valid && rForm.get('confirmPassword').touched">
              <div *ngIf="rForm.get('confirmPassword').hasError('required')">Password DO NOT MATCH</div>            
          </small>
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input  type="text" class="form-control" id="username" placeholder="Username" formControlName="username" (blur)="search($event)">
          <small class="customAlert" *ngIf="!rForm.get('username').valid && rForm.get('username').touched">
              <div *ngIf="rForm.get('username').hasError('required')">Username is Required</div>
              <div *ngIf="rForm.get('username').hasError('minlength')">minimum 3 characters required</div>
          </small>
          <small class="text-danger pb-1" *ngIf="rForm.get('username').touched && isTaken">
            <div> Username already taken</div>
          </small>
        </div>

        <div class="form-group">
          <label for="contact">Contact</label>
          <input  type="text" class="form-control" id="contact" placeholder="Phone Number" formControlName="contact">
          <small class="customAlert" *ngIf="!rForm.get('contact').valid && rForm.get('contact').touched">
              <div *ngIf="rForm.get('contact').hasError('required')">Mobile no is Required</div>
              <div *ngIf="rForm.get('contact').hasError('pattern')">Required Only Numbers </div>
              <div *ngIf="rForm.get('contact').hasError('minlength')">10 numbers required</div>
              <div *ngIf="rForm.get('contact').hasError('maxlength')">Excceding limit </div>
          </small>
        </div>
     </div>
    </div>
  </form>
  <div class="text-center">
    <input type="submit" class="btn btn-large btn-primary" value="Submit Form" (click)="register(rForm)" >
    </div>
  </div>
</div>
